.reports_wrapper {

    .reportsTabs {
        position: relative;
        height: 100%;

        .export_button {
            position: absolute;
            top: -2px;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 6px;
            background-color: #fff;
            padding: 3px 7px 5px;
            box-shadow: 14px 17px 40px 4px #7090B014;

        }

        .custom_border {
            border: 1px solid #34528A
        }

        .tab-content {
            height: calc(100% - 40px);
        }

        .tab-pane {
            height: 100%;
        }
    }

    .table_wrapper_pagination {
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;

        table {
            // height: calc(100% - 30px);
            // overflow: auto;
            min-width: 700px;
            width: 100%;
        }

        .pagination_wrapper {
            p {
                margin: 0;

                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--text_light_table_heading_A3AED0);
            }
        }

        .photo {
            font-weight: 400 !important;
            padding: 0;
            font-weight: bold;
            font-size: 12px;
            color: var(--text_dark_blue_34528A);

            img {

                margin-right: 11px;
            }
        }
    }

    .patient_stat_wrapper {
        padding: 10px;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;

        .earning_amount {
            p {
                &:nth-child(1) {
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 54px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--primary_dark_bg_34528A);
                }

                &:nth-child(2) {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--text_light_menu_819FD8);
                }

                &:nth-child(3) {

                    font-size: 8px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 12px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #C1CFE0;
                    margin-bottom: 23px;
                }
            }
        }

        .pt_stat_item {
            // display: flex;
            width: 100%;


            .left {
                padding: 10px 0px 10px 20px;
                // width: 50%;

                p {
                    position: relative;

                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #2B3674;
                    margin-bottom: 0;
                }
            }

            .right {
                // background-color: var(--bg_dark_green);
                // width: 100%;
                display: flex;
                align-items: center;
                margin-left: 10px;
                height: 100%;

                .progress {
                    width: 100%;
                    height: 31px;
                    background-color: transparent;
                    border-radius: 0;

                    .progress-bar {
                        height: 31px;
                        border-radius: 0 20px 20px 0;
                    }
                }
            }
        }

        .pts_1 {
            .left {
                label {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        background-color: var(--bg_dark_green);
                        border-radius: 50%;
                    }
                }
            }

            .right {

                .progress {

                    .progress-bar {
                        width: 70%;
                        background-color: var(--bg_dark_green);
                    }
                }
            }
        }

        .pts_2 {
            .left {
                label {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        background-color: var(--primary_dark_bg_34528A);
                        border-radius: 50%;
                    }
                }
            }

            .right {

                .progress {

                    .progress-bar {
                        width: 80%;
                        background-color: var(--primary_dark_bg_34528A);
                    }
                }
            }
        }
    }
}

.transaction_details_wrapper {
    .transaction_details {}

    .donut_chart_wrapper {
        .dc_header {
            p {
                margin-bottom: 0;
            }
        }

        .selection {
            .form-select {
                background-color: transparent;
                color: var(--text_light_table_heading_A3AED0);
            }
        }
    }
}


.Subscription_wrapper {

    .Subscription {
        .subscription_title {
            p {

                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--primary_dark_bg_34528A);
                margin-bottom: 15px;
            }
        }

        .subscription_item {
            padding: 25px 45px 25px 19px;
            background-color: #fff;
            border-radius: 20px;
            margin-bottom: 32px;

            .sub_item_left {
                display: flex;

                p {
                    margin: 0;
                }



                img {
                    width: 48px;
                    height: 48px;
                }

                .title_text_wrapper {
                    margin-left: 10px;

                    .plan_title {

                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: var(--primary_dark_bg_34528A);
                    }

                    .sub_date {

                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: var(--text_light_table_heading_A3AED0);

                        span {
                            font-weight: 500;
                            color: var(--primary_dark_bg_34528A);
                        }
                    }
                }

                .renew_date {
                    display: flex;
                    align-items: end;
                    margin-left: auto;

                    p {

                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        color: var(--text_light_table_heading_A3AED0);
                        margin-bottom: 3px;

                        span {
                            color: var(--primary_dark_bg_34528A);
                            font-weight: 500;
                        }
                    }
                }
            }

            .sub_item_right {
                display: flex;
                align-items: end;
                justify-content: end;
                height: 100%;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: right;
                    margin-top: 1.3rem;
                    margin-bottom: 7px;
                    color: var(--primary_dark_bg_34528A);
                }
            }
        }

        .subscription_item1 {
            padding: 26px 20px;
            background-color: #fff;
            border-radius: 20px;
            margin-bottom: 20px;

            .sub_item_left {
                // width: 78%;
                display: flex;

                p {
                    margin: 0;
                }



                img {
                    width: 48px;
                    height: 48px;
                }

                .title_text_wrapper {
                    margin-left: 10px;

                    .plan_title {

                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: var(--primary_dark_bg_34528A);
                    }

                    .sub_date {

                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: var(--text_light_table_heading_A3AED0);

                        a {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0em;
                            text-align: right;
                            margin-top: 1.3rem;
                            color: var(--primary_dark_bg_34528A);
                        }
                    }
                }

                .renew_date {
                    display: flex;
                    align-items: end;
                    margin-left: auto;

                    p {

                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        color: var(--text_light_table_heading_A3AED0);
                        margin-bottom: 3px;

                        span {
                            font-weight: 500;
                            color: var(--primary_dark_bg_34528A);
                        }
                    }
                }
            }

            .sub_item_right {
                display: flex;
                align-items: center;
                height: 100%;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: right;
                    margin-top: 1.3rem;
                    color: var(--primary_dark_bg_34528A);
                }
            }
        }
    }
}


.common_modal {

    .modal-content {
        border-radius: 20px;

        .modal-header {
            border-bottom: none;

            .modal-title {
                width: 100%;

                .modal_header_wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;
                    border-bottom: 1px solid #E9F5FB;

                    .modal_left {

                        display: flex;
                        align-items: center;

                        img {}

                        p {
                            margin: 0 0 0 12px;

                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: var(--primary_dark_bg_34528A);
                        }
                    }

                    .modal_close_btn {
                        img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .modal-body {

            padding-top: 0;
            padding-bottom: 0;

            .modal_body_inner_wrapper {
                border-bottom: 1px solid #E9F5FB;
                padding: 0 20px;

                p.description {

                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--text_light_menu_819FD8);
                }

                .benefits_wrapper {
                    p.benefit_tittle {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: var(--primary_dark_bg_34528A);
                    }

                    ul {
                        margin-bottom: 40px;

                        li {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: var(--primary_dark_bg_34528A);
                        }
                    }
                }
            }
        }

        .modal-footer {
            border: none;
            padding: 0;

            .modal_btn_wrapper {
                display: flex;
                align-items: center;
                width: 47%;
                padding: 20px;

                .cx-btn-dark {
                    box-shadow: none;
                }
            }
        }
    }
}


.agreement {
    .wrapper-main {
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;
        // height: calc(100vh - 200px);
        // Common Input Form Styling


        // Common Title Styling
        .title_wrapper {
            border-bottom: 1px solid #f6f6f6;

            .title {
                color: var(--primary_dark_bg_34528A);
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -.02em;
                line-height: 24px;
            }
        }

        .create_id {}

        .otp_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 40px;
                margin: 20px 0 20px 0;
            }
        }

        .success {

            .success_message {
                span {
                    color: var(--text_dark_blue_042486);
                    font-weight: 600;
                }

                .username {}

                .userId {}

                .userPassword {}
            }
        }

        .failure {
            .failure_message {
                color: var(--bg_dark_red);
            }
        }


    }
}

.date-input {
    // padding-left: 30px;
    border-radius: 10px;
    background-color: var(--bg_White);
    border: none;
    height: 40px;
    width: 100%;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);

    &::placeholder,
    &::-ms-input-placeholder {
        color: red !important;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.28px;
    }

    &:focus {
        box-shadow: none;
    }
}

input[type="date"]::before {
    color: #999;
    content: attr(placeholder);
}

.table-wrapper.left-table {
    height: calc(100vh - 220px);
    overflow-x: auto;
    margin-bottom: 0;
}

.reg_id_fields {
    padding-top: 15px;

    .imgPre_wrapper {
        width: 100%;
        height: 205px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px 0;
        border: 1px solid #dff1ec;
        border-radius: 20px;
        margin-top: 35px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .removebtn {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }

    .pass_text {
        color: var(--primary_dark_bg_34528A);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-right: auto;
    }

    .form-control,
    .form-select {
        border: 1px solid #dff1ec;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;

        &::placeholder {
            color: #d8dceb;
            font-size: 14px;
            font-weight: 400;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .title_wrapper {
        border-bottom: 1px solid var(--text_dark_blue_042486);

        .title {
            color: var(--text_dark_blue_042486) !important;
        }
    }


}



.form-select {
    border: 1px solid #dff1ec;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: #d8dceb;
    font-size: 14px;
    font-weight: 400;



    &::placeholder {
        color: #d8dceb !important;
        font-size: 14px;
        font-weight: 400;
    }

    &:focus {
        box-shadow: none;
    }
}


p.output {
    margin: 10px 0 0;
    padding: 10px 0;
    height: 40px;
    color: var(--text_dark_blue_042486);
}


input[type="date"] {
    /* Your CSS styles here */
    // padding: 8px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // box-sizing: border-box;
    /* Add more styles as needed */
}

/* Example: Styling the placeholder text */
input[type="date"]::placeholder {
    color: #999;
    /* Placeholder text color */
}

/* Example: Styling the selected date */
input[type="date"]::-webkit-datetime-edit {
    color: var(--text_gray_8F9BBA);
    font-size: 14px;
    /* Color of the selected date */
}

/* Example: Styling the calendar button */
input[type="date"]::-webkit-calendar-picker-indicator {
    /* Your styles for the calendar button */
}

.offer1 {
    background-color: #d1ecf1;

    td {
        color: #0c5460 !important;
        border-color: #bee5eb;
    }
}

.offer2 {
    background-color: #d6d8d9;

    td {
        color: #1b1e21 !important;
        border-color: #c6c8ca;
    }
}

.offer3 {
    background-color: #fff3cd;

    td {
        color: #856404 !important;
        border-color: #ffeeba;
    }
}

.offer4 {
    background-color: #e2e3e5;

    td {
        color: #383d41 !important;
        border-color: #d6d8db;
    }
}

.profitUp {
    background-color: #d4edda;

    td {
        color: #155724 !important;
        border-color: #c3e6cb;
    }
}

.profitDown {
    background-color: #f8d7da;

    td {
        color: #721c24 !important;
        border-color: #f5c6cb;
    }
}

.newCust {
    background-color: #cce5ff;

    td {
        color: #004085 !important;
        border-color: #b8daff !important;

        &:first-child {
            position: relative;

            &::before {
                content: "New";
                position: absolute;
                top: -3px;
                left: -10px;
                transform: rotate(-20deg);
                background-color: #004085;
                color: #fff;
                padding: 0 4px;
                font-size: 10px;
                letter-spacing: 1px;
                border-radius: 3px;
            }

        }
    }


}